#title {
	text-align: center;
	color: white;
	font-size: 60px;
	font-weight: bold;
	padding-top: 50px;
}

#subtitle {
	margin-top: 15px;
	margin-left: 10%;
	color: skyblue;
	font-size: 28px;
	font-style: italic;
}

#date {
	text-align: center;
	color: tomato;
	font-size: 18px;
	overflow: hidden;
}

#date:before,
#date:after {
	background-color: tomato;
	content: "";
	display: inline-block;
	height: 2px;
	position: relative;
	vertical-align: middle;
	width: 20%;
}

#date:before {
	right: 0.5em;
	margin-left: -50%;
}

#date:after {
	left: 0.5em;
	margin-right: -50%;
}

.markdown * {
	color: white;
	font-size: 24px;
	margin: 0;
	line-height: 1.5em;
}

.markdown h1 {
	font-size: 36px;
	color: skyblue;
	padding-top: 24px;
	padding-bottom: 24px;
}

.markdown code {
	padding: 0.1em;
	margin: -0.1em 0;
	border-radius: 3px;
	background-color: black;
	font-family: monospace;
}

.markdown pre pre {
	border: 2px solid skyblue;
}

.markdown pre code {
	padding: 0;
	margin: 0;
	background: none;
	white-space: pre-wrap !important;
}

.markdown pre code * {
	font-family: monospace;
	font-size: 18px;
}

.markdown a {
	color: tomato;
}

.markdown img {
	display: block;
	margin: auto;
	width: 50%;
}

.markdown li::marker {
	color: skyblue;
}

#extra {
	height: 50px;
}

@media only screen and (max-width: 800px) {
	#title {
		font-size: 48px;
	}

	#subtitle {
		font-size: 24px;
	}

	.markdown * {
		font-size: 18px;
	}

	.markdown h1 {
		font-size: 28px;
	}
}
