#title {
	text-align: center;
	font-size: 72px;
	color: white;
	font-weight: bold;
	padding-top: 50px;
}

#extra {
	height: 50px;
}

@media only screen and (max-width: 800px) {
	#title {
		font-size: 48px;
	}
}
