#title {
	text-align: center;
	font-size: 72px;
	color: white;
	font-weight: bold;
	padding-top: 50px;
}

#subtitle {
	text-align: center;
	font-size: 28px;
	color: tomato;
	font-style: italic;
}

.markdown * {
	color: white;
	font-size: 24px;
	margin: 0;
	line-height: 1.5em;
}

.markdown h1 {
	font-size: 36px;
	color: skyblue;
	padding-top: 24px;
	padding-bottom: 24px;
}

.markdown code {
	padding: 0.1em;
	margin: -0.1em 0;
	border-radius: 3px;
	background-color: black;
	font-family: monospace;
}

.markdown pre code {
	padding: 0;
	margin: 0;
	background: none;
	white-space: pre-wrap !important;
}

.markdown pre code * {
	font-family: monospace;
	font-size: 18px;
}

.markdown a {
	color: tomato;
}

.markdown img {
	display: block;
	margin: auto;
	width: 50%;
}

.markdown li::marker {
	color: skyblue;
}

#extra {
	height: 50px;
}

@media only screen and (max-width: 800px) {
	#title {
		font-size: 48px;
	}

	#subtitle {
		font-size: 24px;
	}

	.markdown * {
		font-size: 18px;
	}

	.markdown h1 {
		font-size: 28px;
	}
}
