.contact-card {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12vmin;
	height: 12vmin;
	border-radius: 25%;
	margin: 2vmin;
	transition: transform 0.2s cubic-bezier(0, 0, 0.5, 1);
}

.contact-card:hover {
	transform: scale(1.1);
}

.card-icon {
	width: 50%;
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

@media only screen and (max-width: 500px) {
	.contact-card {
		width: 15vmin;
		height: 15vmin;
	}
}
