:root {
	--grey1: #545454;
	--grey2: #393939;
	--grey3: #202020;
	--grey4: #111111;
}

* {
	font-family: "Ubuntu";
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

html,
body,
#__next,
#__next > div {
	height: 100%;
	margin: 0;
	background-color: var(--grey3);
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#center {
	margin: auto;
	width: 50%;
}

@media only screen and (max-width: 900px) {
	#center {
		width: 65%;
	}
}
