#nav-drawer {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	left: 32px;
	width: 0;
}

.nav-button-link {
	margin-top: 12px;
	margin-bottom: 12px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.nav-button {
	transform: scale(1.5);
	color: white;
}

.nav-button:hover {
	fill: skyblue;
}
