#center {
	margin: auto;
	width: 50%;
}

#title-padding {
	height: 40%;
}

#name {
	text-align: center;
	font-size: 72px;
	color: white;
	font-weight: bold;
}

.heading {
	padding-top: 50px;
	text-align: center;
	font-size: 48px;
	color: white;
	font-weight: bold;
}

#read-more {
	position: absolute;
	margin: auto;
	bottom: 50px;
	left: 0;
	right: 0;
	fill: white;
	transition: transform 0.5s cubic-bezier(0, 0, 0.5, 1);
	animation: blink 3s linear infinite;
	animation-delay: 2s;
}

#read-more:hover {
	transform: scale(1.2);
	animation: none;
}

#skills-graph {
	width: 100%;
}

#center-contacts {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

#flex-break {
	width: 100%;
	flex-basis: 100%;
	height: 0;
	margin: 0;
	border: none;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

@media only screen and (max-width: 800px) {
	#center {
		width: 65%;
	}

	#name {
		font-size: 48px;
	}
}

@media only screen and (max-width: 700px) {
	.heading {
		font-size: 30px;
	}
}

@media only screen and (max-width: 500px) {
	#name {
		font-size: 30px;
	}
}
