#title-padding {
	height: 40%;
}

#name {
	text-align: center;
	font-size: 8vmin;
	color: white;
	font-weight: bold;
}

.heading {
	padding-top: 50px;
	text-align: center;
	font-size: 5vmin;
	color: white;
	font-weight: bold;
}

#read-more {
	position: absolute;
	margin: auto;
	bottom: 50px;
	left: 0;
	right: 0;
	fill: white;
	transition: transform 0.5s cubic-bezier(0, 0, 0.5, 1);
	animation: blink 3s linear infinite;
	animation-delay: 2s;
}

#read-more:hover {
	transform: scale(1.2);
	cursor: pointer;
	animation: none;
}

#about-paragraphs {
	padding-top: 2vh;
	margin: auto;
	width: 90%;
	font-size: 2.5vmin;
	color: white;
	line-height: 2em;
}

#skills-graph {
	width: 100%;
}

#center-contacts {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

#flex-break {
	width: 100%;
	flex-basis: 100%;
	height: 0;
	margin: 0;
	border: none;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

@media only screen and (max-width: 900px) and (max-height: 600px) {
	.about-paragraphs {
		font-size: 5vmin;
	}
}
