#nav-bar {
	position: fixed;
	padding: 16px;
	z-index: 10;
}

.nav-link {
	color: white;
	font-size: 24px;
	padding-right: 12px;
}

.nav-link:hover {
	color: skyblue;
}

@media only screen and (max-width: 800px) {
	.nav-link {
		font-size: 18px;
	}
}
