.post-card {
	margin: auto;
	margin-top: 50px;
	width: 90%;
	height: 25vh;
	border-radius: 25px;
	border: 2px solid skyblue;
	transition: transform 0.5s cubic-bezier(0, 0, 0.5, 1);
}

.post-card:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.post-title {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 4vmin;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

.post-date {
	text-align: center;
	color: tomato;
	font-size: 12px;
	overflow: hidden;
}

.post-date:before,
.post-date:after {
	background-color: tomato;
	content: "";
	display: inline-block;
	height: 2px;
	position: relative;
	vertical-align: middle;
	width: 20%;
}

.post-date:before {
	right: 0.5em;
	margin-left: -50%;
}

.post-date:after {
	left: 0.5em;
	margin-right: -50%;
}

.post-subtitle {
	margin-top: 15px;
	margin-left: 10%;
	margin-right: 10%;
	color: white;
	font-style: italic;
	font-size: 2vmin;
}

@media only screen and (max-width: 800px) {
	.post-subtitle {
		font-size: 3vmin;
	}
}
